$blue: #006CB7;
$red: #dd3333;

$bg: #2d2d2d;
$bg-darker: #212121;
$bg-light: #585858;
$green: #2ecc71;
$green-d1: #2ab766;
$green-d2: #24a059;
$grey: #3b3b3b;
$lighterGrey: #bbbbbb;
$evenLighterGrey: #ddd;
$almostWhite: #f6f6f6;
$dark-grey: #2a2a2a;
$yellow: #dcab5c;
